<mat-card  style="width: 800px;">
  <mat-card-title>{{title}}</mat-card-title>
  <p>
    <label class="output-label">tip Rate:</label>
    <span class="output-value">
      {{tipData.tipRate }} %
    </span>
  </p>
  <p>
    <label class="output-label">Cost of Service:</label>
    <span class="output-value">
      {{tipData.tip | currency}}
    </span>
  </p>

  <p>
    <label class="output-label">Total Tip:</label>
    <span class="output-value">{{tipData.estimated_tip  | currency}}</span>
  </p>
  <p>
    <label class="output-label">Bill Total :</label>
    <span class="output-value">{{tipData.Total_amount_including_tip  | currency
    }}</span>
  </p>

 
 
    <a mat-raised-button routerLink="input">Back to Input</a>
  
</mat-card>
