mat-card{
  background-color: #FFFDE7;
  margin: 2em;
  width: fit-content;
  height: fit-content;
  padding: 2em;
}

mat-card-title{
  color:#0288D1;
  margin-bottom: 1em;
}

label{
  font-size: larger;
}
