<mat-card style="width: 800px;">
  <mat-card-title>{{title}}</mat-card-title>
  <form [formGroup]="form" (ngSubmit)="send(form.value)">
    <p>
      <mat-form-field appearance="outline" style="width: 90%;">
        <mat-label>Enter Cost of Service</mat-label>
        <input type="number" matInput formControlName="firstName">
        <mat-error *ngIf="!form.get('firstName')?.valid && form.get('firstName')?.touched">
          Cost of Service is required
        </mat-error>
      </mat-form-field>
    </p>
   
    <p>
      <label>Service quality</label><br/>
      <mat-radio-group formControlName="programYear">
        <mat-radio-button value="15">Okey - 15%</mat-radio-button><br/>
        <mat-radio-button value="18">Good - 18%,</mat-radio-button><br/>
        <mat-radio-button value="20">Excellent - 20%</mat-radio-button><br/>
        <mat-error *ngIf="!form.get('programYear')?.valid && form.get('programYear')?.touched">
          Select the year
        </mat-error>
      </mat-radio-group>
    </p>
    <p>
      <mat-checkbox value="yes"
                    formControlName="programCoop">Round up tip</mat-checkbox><br/>
      
    </p>
    <p>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Calculate</button>
    </p>
  </form>
</mat-card>
